.slick-prev {
  left: -10 !important;
  height: 38px !important;
  width: 27px !important;
  background: #ffffff !important;
  border: 2px solid #bababa !important;
  border-radius: 12px !important;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick' !important;
  font-size: 20px !important;
  line-height: 2 !important;
  color: #bababa !important;
}
.slick-next {
  right:  -10 !important;
  height: 38px !important;
  width: 27px !important;
  background: #fff !important;
  border: 2px solid #bababa !important;
  border-radius: 12px !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  min-width: 27px !important;
  border-radius: 12px !important;
  padding: 0px !important;
}
.slick-prev:hover, .slick-next:hover{
  background: #f6f0f0 !important;
}